:root {
  --strongPink: #d1345b;
  --black: #000;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* img {
  width: 100%;
  height: auto;
}

body {
  width: 100vw;
  max-width: 100%;
  max-height: 100%;
  font-family: monospace;
  background-color: var(--white);
  color: var(--black);
}

header {
  width: 100%;
  background-color: var(--white);
  height: 80px;
  border-bottom: 1px solid var(--black);
  box-sizing: border-box;
  position: sticky;
  top: 0px;
}

.nav__title {
  margin-top: 17px;
  margin-left: 15px;
}

.nav__title a {
  letter-spacing: 1px;
  margin-left: 40px;
  font-weight: 200;
  font-size: 35px;
  cursor: pointer;
  color: var(--black);
  text-decoration: none;
}

.nav__title a:hover {
  transition: 0.5s;
  color: var(--strongPink);
}

::selection {
  background-color: #e05376;
}

a::selection {
  background-color: #eeaaaa;
}

nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.list-items {
  margin: 17px;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.list-items li {
  margin: 0 80px;
  text-decoration: none;
}

.list-items li:hover {
  transform: rotate(4deg);
  text-decoration: line-through;
  text-decoration-style: solid;
}

.list-items a {
  text-decoration: var(--strongPink);
  color: var(--black);
  font-size: 35px;
}

.checkbtn {
  font-size: 30px;
  color: var(--black);
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.hero__section {
  height: calc(100vh - 80px);
  background-color: #f8f7f9;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}

.hero__section-img img {
  border: 2px solid var(--black);
  margin-top: 50px;
  margin-bottom: 50px;
  height: 460px;
  width: 450px;
}

.hero__section-tagline {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
}

.hero__section-tagline h1 {
  font-size: 55px;
  color: var(--black);
  text-decoration: none;
  font-family: monospace;
}

.hero__section-tagline h1:hover {
  cursor: default;
  transition: 0.5s;
  color: var(--strongPink);
}

.hero__section-tagline span {
  font-size: 25px;
}

.hero__section-buttons {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.hero__section-buttons button {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  height: 40px;
  width: 150px;
  margin: 40px 37px;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  outline: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #252525;
}

.hero__section-buttons button:hover {
  background-color: rgb(228, 227, 227);
}

.hero__section-buttons a {
  text-decoration: none;
  color: #252525;
}

#hero__section-bio {
  border-top: 1px solid #000000;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

#hero__section-bio h2 {
  text-decoration: underline;
  text-decoration-color: var(--strongPink);
  margin-top: 20px;
  font-size: 45px;
  font-weight: 200;
}

.list-bio {
  width: 50%;
  margin: 40px;
  text-decoration: none;
  list-style: disc;
}

.list-bio li {
  margin-bottom: 30px;
  text-align: justify;
  text-justify: inter-word;
  font-size: 25px;
  line-height: 1.57em;
  letter-spacing: 0.2px;
}

#hero__section-bio a {
  text-decoration: none;
  text-decoration-color: var(--strongPink);
  color: var(--strongPink);
}

#hero__section-bio a:hover {
  opacity: 0.7;
}

#skills__section {
  border-top: 1px solid #000000;
  background-color: #f8f7f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#skills__section h2 {
  text-decoration: underline;
  text-decoration-color: var(--strongPink);
  margin-top: 20px;
  font-size: 45px;
  font-weight: 200;
}

.card__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.card {
  max-height: 300px;
  margin: 7rem 5rem;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card img {
  height: 11rem;
  width: 100%;
}

.card h3 {
  font-size: 2rem;
  margin-top: 20px;
}

.card p {
  margin-top: 25px;
  font-size: 1.5rem;
  max-width: 400px;
  text-align: center;
  font-weight: var(--small);
}

#js__card {
  margin-top: 139px;
}

#contact__section {
  border-top: 1px solid #000000;
  background-color: #f8f7f9;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

.contact_section-info h2 {
  text-decoration: underline;
  text-decoration-color: var(--strongPink);
  margin-top: 90px;
  font-size: 45px;
  font-weight: 200;
}

.contact_section-info span {
  font-size: 1.3rem;
  margin-top: 70px;
}

.contact__list {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  list-style-type: none;
  margin-top: 40px;
}

.contact__list li {
  margin: 20px;
}

.contact__list li p {
  font-size: 1.1rem;
}

.contact__list li a {
  text-decoration: none;
  color: var(--black);
  font-size: 1.1rem;
}

.contact_section-info {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
}

.contact__section-img img {
  margin: 30px;
  height: 34rem;
  width: 100%;
}

/* FOOTER */

.footer {
  border-top: 1px solid #000000;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  background-color: var(--white);
}

.footer__logo a {
  letter-spacing: 1px;
  margin-left: 40px;
  font-weight: 200;
  font-size: 35px;
  cursor: pointer;
  color: var(--black);
  text-decoration: none;
}

.footer__logo a:hover {
  transition: 0.5s;
  color: var(--strongPink);
}

/**********************************************/
/**********************************************/
/**********************************************/
/**********************************************/
/**********************************************/
/* MEDIA QUERYS */

@media (max-width: 1200px) {
  .checkbtn {
    display: block;
  }

  .list-items {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    position: fixed;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: var(--white);
    top: 80px;
    transform: translateX(200%);
    transition: all 0.5s ease-out;
  }

  .list-items li {
    display: block;
    margin: 80px 0;
    line-height: 30px;
  }

  .list-items li a {
    font-size: 70px;
    color: var(--black);
  }

  #check:checked ~ .list-items {
    transform: translateX(0%);
    transition: all 0.5s ease-in;
  }

  .hero__section-img img {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 390px;
    width: 380px;
  }

  .hero__section-tagline h1 {
    font-size: 47px;
  }

  .hero__section-tagline span {
    font-size: 20px;
  }

  .hero__section-buttons {
    margin-left: -30px;
  }

  .hero__section-buttons button {
    margin-bottom: 5px;
  }

  #hero__section-bio h2 {
    font-size: 35px;
  }

  .list-bio li {
    font-size: 22px;
  }

  #skills__section h2 {
    font-size: 35px;
  }
  /* *********************** */

  .card {
    margin: 5rem 2rem;
  }

  .card img {
    height: 9rem;
  }

  .card h3 {
    font-size: 1.5rem;
  }

  .card p {
    font-size: 1.3rem;
  }

  /* ********************************* */

  .contact_section-info h2 {
    font-size: 35px;
  }

  .contact_section-info span {
    font-size: 1.2rem;
  }

  .contact__list li p {
    font-size: 1rem;
  }

  .contact__section-img img {
    height: 27rem;
    margin: 30px;
  }
}

@media (max-width: 950px) {
  .hero__section-img img {
    height: 340px;
    width: 330px;
  }

  .contact__section-img img {
    height: 24rem;
    width: 20rem;
  }
}

@media (max-width: 783px) {
  .hero__section-img img {
    margin-top: 80px;
    height: 300px;
    width: 290px;
  }

  .hero__section-tagline {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero__section-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .hero__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #contact__section {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    align-content: center;
  }

  .contact_section-info {
    flex-direction: column;
    align-items: center;
  }

  .contact_section-info h2 {
    margin-top: 20px;
  }

  .contact__list {
    margin-top: 20px;
  }

  .contact__list li p {
    font-size: 1.1rem;
  }

  .contact__section-img img {
    display: none;
  }

  .contact_section-info span {
    font-size: 1.1rem;
    margin-top: 30px;
  }
}

@media (max-width: 453px) {
  /* No me doy cuenta que es lo rompe la pagina en este breakpoint*/
}
